<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/css/main.css">
    <script src="/src/js/scripts.js"></script>
    <title>Théo Charron - Data Analyst</title>
</head>
<body>
    <header class="header-menu">
        <nav class="header-nav">
            <ul class="header-menu__list">
                <li class="header-menu__item">
                    <a class="header-menu__link" href="/src/index.html">Accueil</a>
                </li>
                <li class="header-menu__item">
                    <a class="header-menu__link" href="/src/about.html">À Propos</a>
                </li>
                <li class="header-menu__item">
                    <a class="header-menu__link" href="/src/knowledge/index.html">Connaissances</a>
                </li>
                <li class="header-menu__item">
                    <a class="header-menu__link" href="/src/projects/index.html">Projets Réalisés</a>
                </li>
                <li class="header-menu__item">
                    <a class="header-menu__link" href="/src/contact.html">Contact</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>
