<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/main.css">
    <script src="../static/js/scripts.js"></script>
    <title>Théo Charron - Data Analyst</title>
</head>
<body>
    <div class="knowledge-menu">
        <nav class="knowledge-nav">
            <ul class="toctree-l1__list">
                <li class="toctree-l1 has-children">
                    <a class="reference-internal" href="index.html">Mathématiques</a>
                    <ul class="toctree-l2__list">
                        <li class="toctree-l2 has-children">
                            <a class="reference-internal" href="index.html">Probabilités</a>
                            
                            <ul class="toctree-l3__list">
                                <li class="toctree-l3 has-children" >
                                    <a class="reference-internal" href="index.html">Fondamentaux</a>
                                    
                                    <ul class="toctree-l4__list">
                                        <li class="toctree-l4 has-children" >
                                            <a class="reference-internal" href="index.html">Principes généraux</a>
                                            
                                            <ul class="toctree-l5__list">
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">axiomes des probabilités</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">espace probabilisable</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">espérance</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">événement</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">indépendance</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">probabilité</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">tribu</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">variable aléatoire</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">variables indépendantes et identiquements distribuées</a></li>
                                            </ul>
                                        </li>
                                        <li class="toctree-l4 has-children" >
                                            <a class="reference-internal" href="index.html">Convergence de lois</a>
                                            
                                            <ul class="toctree-l5__list">
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">loi des grands nombres</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">théorème de Borel-Cantelli</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">théorème central limite</a></li>
                                            </ul>
                                        </li>
                                        <li class="toctree-l4 has-children" >
                                            <a class="reference-internal" href="index.html">Calcul stochastique</a>
                                            
                                            <ul class="toctree-l5__list">
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">chaîne de Markov</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">équation différentielle stochastique</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">marche aléatoire</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">martingale</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">mouvement brownien</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">processus de Markov</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">processus stochastique</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="toctree-l3 has-children" >
                                    <a class="reference-internal" href="index.html">Lois de probabilité</a>
                                    
                                    <ul class="toctree-l4__list">
                                        <li class="toctree-l4 has-children" >
                                            <a class="reference-internal" href="index.html">Lois continues</a>
                                            
                                            <ul class="toctree-l5__list">
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">loi de Cauchy</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-operateurs.html">loi du Chi-carré</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">loi de Dirichlet</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-fonctions.html">loi exponentielle</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-structures.html">loi de Fisher (F-distribution)</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">loi de Gumbel</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">loi log-normale</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">loi multinomiale</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-fichiers.html">loi normale (gaussienne)</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">loi de Pareto</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">loi de Pareto généralisée</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-modules.html">loi de Student (t-distribution)</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">loi de Weibull</a></li>
                                            </ul>
                                        </li>
                                        <li class="toctree-l4 has-children" >
                                            <a class="reference-internal" href="index.html">Lois discrètes</a>
                                            
                                            <ul class="toctree-l5__list">
                                                <li class="toctree-l5"><a class="reference-internal" href="python-classes.html">loi de Bernoulli</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-classes.html">loi binomiale</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">loi géométrique</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">loi hypergéométrique</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-exceptions.html">loi de Poisson</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="toctree-l3"><a class="reference-internal" href="python-variables.html">Intervalle de confiance</a></li>
                                <li class="toctree-l3"><a class="reference-internal" href="python-variables.html">Bayésianisme</a></li>
                            </ul>
                        </li>
                        <li class="toctree-l2 has-children" >
                            <a class="reference-internal" href="index.html">Statistiques</a>
                            
                            <ul class="toctree-l3__list">
                                <li class="toctree-l3 has-children" >
                                    <a class="reference-internal" href="index.html">Statistiques descriptives</a>
                                    
                                    <ul class="toctree-l4__list">
                                        <li class="toctree-l4 has-children" >
                                            <a class="reference-internal" href="index.html">Fondamentaux</a>
                                            
                                            <ul class="toctree-l4__list">
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">analyse des données</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">corrélation</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">échantillon</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">erreur type</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">fonction de répartition empirique</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">inférence bayésienne</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">intervalle de confiance</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">méthode des moindres carrés</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">regression linéaire</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">statistique</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">théorème de Glivenko-Cantelli</a></li>
                                            </ul>
                                        </li>
                                        <li class="toctree-l4 has-children" >
                                            <a class="reference-internal" href="index.html">Tableaux</a>
                                            
                                            <ul class="toctree-l4__list">
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">table de Burt</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">tableau de contingence</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">tableu disjonctif complet</a></li>
                                            </ul>
                                        </li>
                                        <li class="toctree-l4 has-children" >
                                            <a class="reference-internal" href="index.html">Visualisation de données</a>
                                            
                                            <ul class="toctree-l4__list">
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">boîte à moustaches</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">cartogramme</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">corrélogramme</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">dendogramme</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">diagramme à barres</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">diagramme branche et feuille</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">diagramme en cascade</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">diagramme circulaire</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">diagramme de flux</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">diagramme de Kiviat</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">diagramme de réseaux</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">graphique en aires</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">graphique à bulles</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">graphique en entonnoir</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">graphique en forêt</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">graphique sunburst</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">heatmap</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">histogramme</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">nuage de points</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">sparklines</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">treemap</a></li>
                                            </ul>
                                        </li>
                                        <li class="toctree-l4 has-children" >
                                            <a class="reference-internal" href="index.html">Paramètres de position</a>
                                            
                                            <ul class="toctree-l4__list">
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">quantile</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">médiane</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">mode</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">moyenne arithmétique</a></li>
                                            </ul>
                                        </li>
                                        <li class="toctree-l4 has-children" >
                                            <a class="reference-internal" href="index.html">Paramètres de dispersion</a>
                                            
                                            <ul class="toctree-l4__list">
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">coefficient de variation</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">déviation absolue moyenne</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">écart moyen</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">écart type</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">étendue</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">variance</a></li>
                                            </ul>
                                        </li>
                                        <li class="toctree-l4 has-children" >
                                            <a class="reference-internal" href="index.html">Paramètres de forme</a>
                                            
                                            <ul class="toctree-l4__list">
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">coefficient d'aplatissement</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">coefficient d'asymétrie</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <a class="reference-internal" href="index.html">Statistiques inductives</a>
                                    
                                    <ul class="toctree-l4__list">
                                        <li class="toctree-l4 has-children" >
                                            <a class="reference-internal" href="index.html">Fondamentaux</a>
                                            
                                            <ul class="toctree-l4__list">
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">contraste</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">courbe ROC</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">estimateur</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">hypothèse nulle</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">nombre de sujets nécessaires</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">puissance statistique</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">sensibilité et spécificité</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">signification statistique</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">statistique de test</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">taille d'effet</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">valeur p</a></li>
                                                
                                            </ul>
                                            <a class="reference-internal" href="index.html">Tests paramétriques</a>
                                            
                                            <ul class="toctree-l4__list">
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Anderson-Darling</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Banerji</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Bartlett</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Durbin-Watson</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Fischer d'égalité des deux variances</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Golfeld et Quandt</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Hausman</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test d'hypothèse</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Jarque-Bera</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Mood</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de normalité</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Lilliefors</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Pearson (corrélation)</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Student</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Wald-Wolfowitz</a></li>
                                            </ul>
                                            <a class="reference-internal" href="index.html">Tests non-paramétriques</a>
                                            
                                            <ul class="toctree-l4__list">
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">ANOVA de FriedMan</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">concordance de Kendall</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">tau de Kendall</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test Q de Cochran</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Chow</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Fischer</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test Gamma</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test U de Mann-Whitney</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de McNemar</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de la médiane</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Kolmogorov-Smirnov</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Kruskal-Wallis</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Sargan</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Shapiro-Wilk</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test des signes</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test de Spearman</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test des suites de Wald-Wolfowitz</a></li>
                                                <li class="toctree-l5"><a class="reference-internal" href="python-variables.html">test des rangs signés de Wilcoxon</a></li>
                                                <!--
                                                <li class="toctree-l4"><a class="reference-internal" href="python-chaines.html">test de student (t-test)</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-classes.html">analyse de la variance (ANOVA)</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-classes.html">test de Chi-carré (χ²)</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-exceptions.html">test de Fisher (F-test)</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-fichiers.html">test de Kruskal-Wallis</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-fonctions.html">test de Mann-Whitney U</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-modules.html">test de Wilcoxon signé-rangé</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-operateurs.html">test de Kolmogorov-Smirnov </a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-structures.html">test de Shapiro-Wilk</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de Levene</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de McNemar</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de Wald-Wolfowitz</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de Durbin-Watson </a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de Breusch-Pagan et test de White</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de Cochran</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de Tukey</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de Scheffé</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de Bartlett</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de Log-rank</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de Mantel-Haenszel</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de Bartlett</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de co-ocurrence de Fisher</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de la racine unitaire (test de Dickey-Fuller)</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de normalité de Lilliefors</a></li>
                                                <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">test de Jarque-Bera</a></li>
                                                -->
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class="toctree-l1 has-children">
                    <a class="reference-internal" href="index.html">Programmation</a>
                    
                    <ul class="toctree-l2__list">
                        <li class="toctree-l2 has-children">
                            <a class="reference-internal" href="index.html">Python</a>
                            
                            <ul class="toctree-l3__list">
                                <li class="toctree-l3 has-children" >
                                    <a class="reference-internal" href="index.html">Fondamentaux</a>
                                    
                                    <ul class="toctree-l4__list">
                                        <li class="toctree-l4"><a class="reference-internal" href="python-boucles.html">boucles</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-chaines.html">chaines</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-classes.html">classes</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-conditions.html">conditions</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-classes.html">collections</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-operateurs.html">décorateurs</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-operateurs.html">débogage</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-operateurs.html">dictionnaires</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-operateurs.html">ensembles</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-operateurs.html">entrées/sorties</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-exceptions.html">exceptions</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-fichiers.html">fichiers</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-fonctions.html">fonctions</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-operateurs.html">gestion de contexte</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-operateurs.html">listes</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-modules.html">modules</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="/src/knowledge/coding/python/bases/python-operateurs.html">opérateurs</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-operateurs.html">tuples</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-variables.html">variables</a></li>
                                    </ul>
                                </li>
                                <li class="toctree-l3 has-children">
                                    <a class="reference-internal" href="index.html">Conventions</a>
                                    
                                    <ul class="toctree-l4__list">
                                        <li class="toctree-l4"><a class="reference-internal" href="python-chaines.html">documentation</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-chaines.html">indentation</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-chaines.html">notations</a></li>
                                    </ul>
                                </li>
                                <li class="toctree-l3 has-children">
                                    <a class="reference-internal" href="index.html">libraries</a>
                                    
                                    <ul class="toctree-l4__list">
                                        <li class="toctree-l4"><a class="reference-internal" href="python-asyncio.html">asyncio</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-ccxt.html">ccxt</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-matplotlib.html">matplotlib</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-numpy.html">numpy</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-pandas.html">pandas</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-polars.html">polars</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-seaborn.html">seaborn</a></li>   
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="toctree-l2 has-children">
                            <a class="reference-internal" href="index.html">R</a>
                        </li>
                        <li class="toctree-l2 has-children">
                            <a class="reference-internal" href="index.html">SQL</a>
                            <ul class="toctree-l3__list">
                                <li class="toctree-l3 has-children">
                                    <a class="reference-internal" href="index.html">Fondamentaux</a>

                                    <ul>
                                        <li class="toctree-l4"><a class="reference-internal" href="index.html">agrégation</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="index.html">clauses</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="index.html">commandes</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="index.html">contraintes et intégrité</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="index.html">jointures</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="index.html">tables</a></li>
                                    </ul>
                                </li>
                                <li class="toctree-l3 has-children">
                                    <a class="reference-internal" href="index.html">Conventions et Normes</a>

                                    <ul>
                                        <li class="toctree-l4"><a class="reference-internal" href="index.html">formes normales (NF)</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="index.html">RGPD</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="toctree-l2 has-children">
                            <a class="reference-internal" href="index.html">HTML/CCS/JS</a>
                        </li>
                        <li class="toctree-l2 has-children">
                            <a class="reference-internal" href="index.html">Java</a>
                        </li>
                        <li class="toctree-l2 has-children">
                            <a class="reference-internal" href="index.html">Excel-formula</a>
                        </li>
                    </ul>
                </li>
                <li class="toctree-l1 has-children">
                    <a class="reference-internal" href="libraries.html">Analyse de données</a>
                    
                    <ul class="toctree-l2__list">
                        <li class="toctree-l2"><a class="reference-internal" href="pandas.html">Collecte des données</a></li>
                        <li class="toctree-l2"><a class="reference-internal" href="pandas.html">Traitement des données</a></li>
                        <li class="toctree-l2 has-children">
                            <a class="reference-internal" href="index.html">Analyse des données</a>
                            
                            <ul class="toctree-l3__list">
                                <li class="toctree-l3"><a class="reference-internal" href="pandas.html">Analyse descriptive</a></li>
                                <li class="toctree-l3"><a class="reference-internal" href="pandas.html">Analyse exploratoire</a></li>
                                <li class="toctree-l3"><a class="reference-internal" href="pandas.html">Analyse prédictive</a></li>
                                <li class="toctree-l3"><a class="reference-internal" href="pandas.html">Analyse prescriptive</a></li>
                            </ul>
                        </li>
                        <li class="toctree-l2 has-children">
                            <a class="reference-internal" href="index.html">Visualisation des données</a>
                            
                            <ul class="toctree-l3__list">
                                <li class="toctree-l3 has-children" >
                                    <a class="reference-internal" href="index.html">Graphiques</a>
                                    
                                    <ul class="toctree-l4__list">
                                        <li class="toctree-l4"><a class="reference-internal" href="python-boucles.html">boîte à moustaches</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-boucles.html">courbes</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-boucles.html">heatmap</a></li>
                                        <li class="toctree-l4"><a class="reference-internal" href="python-boucles.html">histogramme</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="toctree-l2"><a class="reference-internal" href="numpy.html">Rapports et interprétations</a></li>
                    </ul>
                </li>
                <li class="toctree-l1 has-children">
                    <a class="reference-internal" href="libraries.html">Outils</a>
                    <ul class="toctree-l2__list">
                        <li class="toctree-l2"><a class="reference-internal" href="/src/pages/knowledge/tools/chat-gpt.html">Chat GPT</a></li>
                        <li class="toctree-l2"><a class="reference-internal" href="/src/pages/knowledge/tools/excel.html">Excel</a></li>
                        <li class="toctree-l2"><a class="reference-internal" href="/src/pages/knowledge/tools/git-github.html">Git/GitHub/Git Bash</a></li>
                        <li class="toctree-l2"><a class="reference-internal" href="/src/pages/knowledge/tools/jupyter-notebook.html">Jupyter Notebook</a></li>
                        <li class="toctree-l2"><a class="reference-internal" href="/src/pages/knowledge/tools/kaggle.html">Kaggle</a></li>
                        <li class="toctree-l2"><a class="reference-internal" href="/src/pages/knowledge/tools/mysql.html">MySQL</a></li>
                        <li class="toctree-l2"><a class="reference-internal" href="/src/pages/knowledge/tools/notion.html">Notion</a></li>
                        <li class="toctree-l2"><a class="reference-internal" href="/src/pages/knowledge/tools/power-bi.html">Power BI</a></li>
                        <li class="toctree-l2"><a class="reference-internal" href="/src/pages/knowledge/tools/sql-power-architect.html">SQL Power Architect</a></li>
                        <li class="toctree-l2"><a class="reference-internal" href="/src/pages/knowledge/tools/trello.html">Trello</a></li>
                        <li class="toctree-l2"><a class="reference-internal" href="/src/pages/knowledge/tools/vscode.html">Visual Studio Code</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>